<a href="https://colab.research.google.com/github/chander110/AcademyPublic/blob/main/session4.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
# hello

In [1]:
!pip install -q kaggle
from google.colab import files
files.upload()
#create a kaggle folder
!mkdir ~/.kaggle
# Go on kaggle > Account > Create New API token
# Save the json file in your laptop in a dedicated folder
# copy the kaggle.json to folder created
!cp kaggle.json ~/.kaggle
#permission for the json to act
!chmod 600 ~/.kaggle/kaggle.json
# Datasets available here: 
# https://www.kaggle.com/avikpaul4u/vehicle-loan-default-prediction
!kaggle datasets download -d avikpaul4u/vehicle-loan-default-prediction
!unzip vehicle-loan-default-prediction.zip
# https://www.kaggle.com/uciml/red-wine-quality-cortez-et-al-2009
!kaggle datasets download -d uciml/red-wine-quality-cortez-et-al-2009
!unzip red-wine-quality-cortez-et-al-2009.zip

Saving kaggle.json to kaggle.json
Downloading vehicle-loan-default-prediction.zip to /content
 43% 5.00M/11.6M [00:00<00:00, 33.7MB/s]
100% 11.6M/11.6M [00:00<00:00, 63.2MB/s]
Archive:  vehicle-loan-default-prediction.zip
  inflating: Data Dictionary.xlsx
  inflating: test.csv
  inflating: train.csv
Downloading red-wine-quality-cortez-et-al-2009.zip to /content
  0% 0.00/25.6k [00:00<?, ?B/s]
100% 25.6k/25.6k [00:00<00:00, 15.6MB/s]
Archive:  red-wine-quality-cortez-et-al-2009.zip
  inflating: winequality-red.csv

In [ ]:
7+3
7-3
7*3
21/3
21//4

5

In [ ]:
a = 3
b = 4
c=a+b
b = c-b
b

3

In [ ]:
cities = ['Paris', 'Zurich', 'Berlin', 'Rome', 'London']
type(cities)
print(cities[-1])
cities[2]
cities[2] = 'Milan'
cities[2]
cities.insert(2, 'HK')
cities [2]
print(cities)
cities.index("HK")

London
['Paris', 'Zurich', 'HK', 'Milan', 'Rome', 'London']

2

In [ ]:
val = 10
if val > 10:
  print ('this is true')
else:
  print ('this is false')

this is false

In [ ]:
new_list=[1, 2, 3, 4, 5, 6]
if 6 not in new_list:
  print('Indeed')
else:
  print ("Hello, There is 6")

Hello, There is 6

In [ ]:
fruits = ['Apple', 'Cheery']
for i in fruits:
  print (i)

Apple
Cheery

In [ ]:
list_of_list = [[1, 2, 3, 4], ['a', 'b', 'c']]

for sub_list in list_of_list:
  print('this is sub list', sub_list)

  for element in sub_list:
    print('this is element:', element)

this is sub list [1, 2, 3, 4]
this is element: 1
this is element: 2
this is element: 3
this is element: 4
this is sub list ['a', 'b', 'c']
this is element: a
this is element: b
this is element: c

In [ ]:
#Create a function
#start with def
def Myarea (length, Width):
  my_area = length*Width
  return my_area

In [ ]:
Myarea (20, 30)

600

In [3]:
import pandas as pd # Here I import a library named pandas which is specialized in
# data manipulation. I give an alias pd it is a kind of pseudonyme where pd refers to pandas.
import numpy as np

In [5]:
df = pd.read_csv('/content/winequality-red.csv')

In [10]:
df.sample(3)

,fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates,alcohol,quality
553,5.0,1.040,0.24,1.6,0.050,32.0,96.0,0.9934,3.74,0.62,11.5,5
44,6.8,0.670,0.02,1.8,0.050,5.0,11.0,0.9962,3.48,0.52,9.5,5
391,13.7,0.415,0.68,2.9,0.085,17.0,43.0,1.0014,3.06,0.80,10.0,6

In [11]:
df.dtypes

fixed acidity           float64
volatile acidity        float64
citric acid             float64
residual sugar          float64
chlorides               float64
free sulfur dioxide     float64
total sulfur dioxide    float64
density                 float64
pH                      float64
sulphates               float64
alcohol                 float64
quality                   int64
dtype: object

In [13]:
df.describe()

,fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates,alcohol,quality
count,1599.000000,1599.000000,1599.000000,1599.000000,1599.000000,1599.000000,1599.000000,1599.000000,1599.000000,1599.000000,1599.000000,1599.000000
mean,8.319637,0.527821,0.270976,2.538806,0.087467,15.874922,46.467792,0.996747,3.311113,0.658149,10.422983,5.636023
std,1.741096,0.179060,0.194801,1.409928,0.047065,10.460157,32.895324,0.001887,0.154386,0.169507,1.065668,0.807569
min,4.600000,0.120000,0.000000,0.900000,0.012000,1.000000,6.000000,0.990070,2.740000,0.330000,8.400000,3.000000
25%,7.100000,0.390000,0.090000,1.900000,0.070000,7.000000,22.000000,0.995600,3.210000,0.550000,9.500000,5.000000
50%,7.900000,0.520000,0.260000,2.200000,0.079000,14.000000,38.000000,0.996750,3.310000,0.620000,10.200000,6.000000
75%,9.200000,0.640000,0.420000,2.600000,0.090000,21.000000,62.000000,0.997835,3.400000,0.730000,11.100000,6.000000
max,15.900000,1.580000,1.000000,15.500000,0.611000,72.000000,289.000000,1.003690,4.010000,2.000000,14.900000,8.000000

In [16]:
df.info()
df.shape
len(df)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1599 entries, 0 to 1598
Data columns (total 12 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   fixed acidity         1599 non-null   float64
 1   volatile acidity      1599 non-null   float64
 2   citric acid           1599 non-null   float64
 3   residual sugar        1599 non-null   float64
 4   chlorides             1599 non-null   float64
 5   free sulfur dioxide   1599 non-null   float64
 6   total sulfur dioxide  1599 non-null   float64
 7   density               1599 non-null   float64
 8   pH                    1599 non-null   float64
 9   sulphates             1599 non-null   float64
 10  alcohol               1599 non-null   float64
 11  quality               1599 non-null   int64
dtypes: float64(11), int64(1)
memory usage: 150.0 KB

1599